---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  margin-top: 50px;
  position: relative;
}

.content {
  padding: 40px 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items:center;
}

.header h1,
.header p {
  color: #FFF;
}

.header {
  background: #3f4c6b; /* Old browsers */
  background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}

.header-sub {
  background-color: #f5f5f5;
}